.navbar-header {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.navbar-header-left {
    display: flex;
    align-items: center;
}


.navbar-icon {
    width: 2rem;
    /* w-8 */
    height: 2rem;
    /* h-8 */
    margin-right: 0.5rem;
}

.navbar-header h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar {

    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    /* Adjust the width as needed */
    height: 100%;
    background-color: white;
    /* Adjust the background color as needed */
    padding: 1.5rem;
    /* Adjust the padding as needed */
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
    /* Optional: add a shadow for better visual separaton */
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    margin: 1.5rem 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    /* Adjust the text color as needed */
    font-size: 1rem;
    /* Adjust the font size as needed */
}

.nav-links a:hover {
    color: #007bff;
    /* Adjust the hover color as needed */
}

@media (min-width: 2000px) {
    .navbar-header h1 {
        font-size: 1.85rem;
    }

    .navbar-icon {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 0.75rem;
    }

    .nav-links a {
        font-size: 1.25rem;
    }

    .nav-links li {
        margin: 3rem 0;
    }
}


@media (min-width: 1200px) and (max-width: 1399.98px) {
    .navbar {
        width: 20%;
    }
}


@media (max-width: 1199.98px) {
    .navbar {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-links a {
        font-size: 1rem;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-header h1 {
        font-size: 1.5rem !important;
    }

    .nav-links a {
        font-size: 0.85rem;
        font-weight: 500;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-header h1 {
        font-size: 1.2rem !important;
    }

    .nav-links a {
        font-size: 0.85rem;
    }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
    .navbar-header button {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .navbar-header {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .navbar-header svg {
        display: none;
    }

    .navbar-header h1 {
        font-size: 1.25rem !important;
    }

    .nav-links li {
        padding-bottom: 0 !important;
        margin: 0;
    }

    .nav-links a {
        font-size: 0.85rem;
    }
}