.emitter-upper {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    padding: 2rem;
    width: 95%;
    /* border: 1px solid #ccc; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 6px;

  }
  
  .emitter-upper-1 {
    width: 25%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .emitter-upper-1-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .emitter-upper-1-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .emitter-upper-2 {
    width: 75%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #ccc; */
  }
  .emitter-upper-2-1 {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .emitter-middle {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    width: 95%;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 6px;

    
  }
  .emitter-middle-1 {
    width: 75%;
    padding: 1rem;

  }
  .emitter-middle-1-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    align-items: center;
  }
  .emitter-middle-2 {
    width: 25%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .emitter-lower {
    height: 500px;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    padding: 2rem;
    width: 95%;
    /* border: 1px solid #ccc; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 6px;
  }
  
  .emitter-lower-1 {
    width: 25%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .emitter-lower-2 {
    width: 75%;
    height: 450px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #ccc; */
  }
  
  .emitter-lower-2-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
  }
  .emitter-lower-1-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .emitter-lower-1-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .emitter-item-header {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    color: #9d9191;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .emitter-item-data {
    width: 100%;
    padding: 0.7rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 2.25rem;
  
  }

@media (max-width: 1199.98px) {
  .divider {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .emitter-upper, .emitter-middle, .emitter-lower {
    width: 100%;
    padding: 1.5rem;
  }

  .emitter-upper-1, .emitter-middle-2, .emitter-lower-1 {
    width: 30%;
  }

  .emitter-upper-2, .emitter-middle-1, .emitter-lower-2 {
    width: 70%;
  }

  .emitter-item-data {
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .emitter-upper, .emitter-middle, .emitter-lower {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
  }

  .emitter-upper-1, .emitter-upper-2,
  .emitter-middle-1, .emitter-middle-2,
  .emitter-lower-1, .emitter-lower-2 {
    width: 100%;
  }

  .emitter-item-data {
    font-size: 1.5rem;
  }

  .emitter-middle-2, .emitter-lower-1 {
    flex-direction: row;
    justify-content: space-between;
  }

  .emitter-middle-2-1, .emitter-middle-2-2,
  .emitter-lower-1-1, .emitter-lower-1-2 {
    width: 48%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .emitter-upper, .emitter-middle, .emitter-lower {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
  }

  .emitter-upper-1, .emitter-upper-2,
  .emitter-middle-1, .emitter-middle-2,
  .emitter-lower-1, .emitter-lower-2 {
    width: 100%;
  }

  .emitter-item-data {
    font-size: 2rem;
  }

  .emitter-middle-2, .emitter-lower-1 {
    flex-direction: row;
    justify-content: space-between;
  }

  .emitter-middle-2-1, .emitter-middle-2-2,
  .emitter-lower-1-1, .emitter-lower-1-2 {
    width: 48%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .emitter-upper, .emitter-middle, .emitter-lower {
    width: 100%;
    padding: 0.5rem;
    flex-direction: column;
  }
  .emitter-item-data {
    font-size: 2rem;
  }
  .emitter-item-header {
    font-size: 1rem !important;
  }
  .emitter-upper-1-3 {
    font-size: 0.8rem;
  }
  .emitter-middle-1-1 h2, .emitter-upper-2-1 h2, .emitter-lower-2-heading h2 {
    font-size: 1.2rem;
  }
  .emitter-upper-1, .emitter-upper-2,
  .emitter-middle-1, .emitter-middle-2,
  .emitter-lower-1, .emitter-lower-2 {
    width: 100%;
  }

  .emitter-middle-2, .emitter-lower-1 {
    flex-direction: column;
  }

  .emitter-middle-2-1, .emitter-middle-2-2,
  .emitter-lower-1-1, .emitter-lower-1-2 {
    width: 100%;
  }
  .emitter-lower {
    height: 600px;
  }
}

@media (max-width: 575.98px) {
  .emitter-upper, .emitter-middle, .emitter-lower {
    width: 90%;
    padding: 0.5rem;
    flex-direction: column;
  }
  .emitter-lower {
    height: 600px;
  }

  .emitter-upper-1, .emitter-upper-2,
  .emitter-middle-1, .emitter-middle-2,
  .emitter-lower-1, .emitter-lower-2 {
    width: 100%;
  }

  .emitter-item-data {
    font-size: 1rem;
  }

  .emitter-middle-2, .emitter-lower-1 {
    flex-direction: column;
  }

  .emitter-middle-2-1, .emitter-middle-2-2,
  .emitter-lower-1-1, .emitter-lower-1-2 {
    width: 100%;
  }

  .emitter-upper-1-3 {
    font-size: 0.8rem;
  }
  .emitter-upper-2-1 h2,
  .emitter-middle-1-1 h2,
  .emitter-lower-2-heading h2 {
    font-size: 1.2rem;
  }
  .emitter-item-header {
    font-size: 0.8rem;
  }
  .emitter-item-data {
    font-size: 1.75rem;
  }
  .emitter-upper-2 {
    display: none; 
  }
}