.guest-lower-1 {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: 10px;
  }
  
  .guest-lower-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    margin-right: 10px;
  }
  
  .guest-lower {
    background-color: white;
    border: 4px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    margin: 10px auto 0;
    display: flex;
    border-left: 0;
    border-right: 0;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4); */
  }

  .guest-upper {

    background-color: white;
    border: 4px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    border-left: 0;
    border-right: 0;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4); */
  
  
  }
  
  .guest-upper-1 {
    display: flex;
    flex-direction: column;
    /* border: 3px solid #ccc; */
    /* border-radius: 10px; */
    padding: 20px;
    width: 20%;
    margin-right: 20px;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
  
  
  }
  
  .guest-upper-2 {
    width: 20%;
    /* border: 3px solid #ccc; */
    /* border-radius: 10px; */
    margin-right: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
  }

  
  .guest-upper-3 {
    width: 60%;
    /* border: 3px solid #ccc; */
    /* border-radius: 10px; */
    padding: 20px;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
  
  }
  
  .guest-upper-3-upper {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
  }
  
  .guest-upper-3-upper h2 {
    font-weight: bold;
  }
  .guest-upper-1-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .guest-upper-1-lower {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .guest-upper-1-lower-piechart {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .guest-upper-1-lower-legend {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    flex-direction: row;
  }
  
  .guest-upper-1-lower-legend-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2px;
    text-align: center;
  
  }
  
  .guest-upper-1-lower-legend-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .guest-header {
    font-size: 2xl;
    font-weight: bold;
  }

  @media (min-width: 2560px) {
    .guest-upper-1-upper p, .guest-upper-2 p {
      font-size: 1.2rem;
    }
    .guest-upper-1-lower h1 {
      font-size: 1.6rem;
    }
    .guest-upper-3-upper h2 {
      font-size: 2.5rem;
    }
  }
@media (min-width: 1400px) and (max-width: 1499.98px) {
  .guest-upper-1-upper p, .guest-upper-2 p {
    font-size: 1.2rem;
  }
  .guest-upper-1-lower h1 {
    font-size: 1.6rem;
  }
  .guest-upper-3-upper h2 {
    font-size: 2rem;

  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .guest-upper-1-upper p, .guest-upper-2 p, .guest-lower-2 p {
    font-size: 0.9rem;
  }
  .guest-lower-1 h2 {
    font-size: 0.7rem;
  }
  .guest-upper-3-upper h2, .guest-upper-1-lower h1 {
    font-size: 1.3rem;
  }
  .guest-upper-1 {
    width: 25%;
  }
  .guest-upper-2 {
    width: 25%;
  }
  .guest-upper-3 {
    width: 50%;
  }

}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .guest-upper-1-upper p, .guest-upper-2 p { 
    font-size: 0.9rem;
  }
  .guest-upper-1, .guest-upper-2 {
    width: 25%;
  }
  .guest-upper-3 {
    width: 50%;
  }
  .guest-upper-3-upper h2 {
    font-size: 1.4rem;
  }
  .guest-upper-1-lower h1 {
    font-size: 1.2rem;
  }
  .guest-lower-1 h2 {
    font-size: 0.8rem;
  }
  .guest-lower-2 p {
    font-size: 0.8rem;
  }
  .guest-chart {
    height: 250px !important;
  } 
}

/* @media (min-width: 768px) and (max-width: 992px) {
  .guest-upper-1-upper p, .guest-upper-2 p { 
    font-size: 0.9rem;
  }
  .guest-upper-1-lower h1 {
    font-size: 1.2rem;
  }
  .guest-upper-3-upper h2 {
    font-size: 1.2rem;
  }
} */
@media (min-width: 576px) and (max-width: 991.98px) {
  .guest-upper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    background-color: transparent;
    border: none;
    margin-bottom: 0;
  }
  .guest-upper-1, .guest-upper-2 {
    flex: 1;
    max-width: 50%;
    border: 4px solid #ccc;
    border-radius: 5px;
    background-color: white;
    border-left: 0;
    border-right: 0;
  }
  .guest-upper-1-upper p, .guest-upper-2 p { 
    font-size: 0.8rem;
  }
  .guest-upper-1-lower h1 {
    font-size: 1rem;
  }
  .piechart {
    height: 150px !important;
  }
  .guest-upper-1-lower-legend {
    font-size: 0.7rem;
  }
  .guest-upper-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .guest-upper-3 {
    width: 100%;
  }
  .guest-upper-3 h2 {
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
  }

  .guest-lower {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .guest-lower-1 {
    width: 100%;
  }
  .guest-chart {
    height: 250px !important;
  }
  .guest-lower-2 {
    width: 100%;
  }
  .guest-lower-2 p {
    font-size: 0.7rem;
    margin-bottom: 0 !important;
  }
  .emitter-item-header {
    font-size: 0.7rem;
  }
}

@media (max-width: 575.98px) {
  .guest-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: transparent;
    border: none;
    margin-bottom: 0.5rem;
  }
  .guest-upper-1, .guest-upper-2 {
    
    margin: 0;
    margin-bottom: 1rem;
    background-color: white;
    border-top: 4px solid #ccc;
    border-bottom: 4px solid #ccc;
    border-radius: 5px;
  }
  .guest-upper-2 {
    width: 100%;
  }
  .guest-upper-1 {
    width: 80%;
    margin-bottom: 2.5rem;
  }

  .guest-upper-1-upper p, .guest-upper-2 p, .guest-lower-2 p { 
    font-size: 0.85rem;
  }
  .guest-upper-1-lower-legend {
    font-size: 0.8rem;
  }
  .guest-upper-1-lower-legend-item {
    font-size: 0.8rem;
  }

  .guest-upper-1-lower h1 {
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
  }
  .guest-upper-3, .guest-lower-1 {
    display: none;
  }
  .guest-lower {
    margin-top: 0;
    width: 70%;
  }
  .guest-lower-2 {
    width: 100%;
    margin-right: 0;
  }
  
}
